@media (max-width: 991.98px) {
   html {
      font-size: 62.5%;
   }

   .offcanvas-collapse {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -70.5%;
      width: 70%;
      height: 100vh;
      overflow: hidden;
      visibility: hidden;
      transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
      z-index: 999;
      background: rgba(0, 0, 0, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(10.0px);
      -webkit-backdrop-filter: blur(10.0px);
      border: 1px solid rgba(255, 255, 255, 0.18);
   }

   .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(100%);
   }

   .nav-item {
      padding: 1.3rem 0 1.3rem 1.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      text-align: left;
   }

   .navbar .img img {
      width: 18rem;
   }

   .display-none {
      display: none;
   }

   .social-media {
      width: 100%;
      padding: 1.3rem 0 1.3rem 1.5rem;
   }

   .social-media a i {
      text-decoration: none;
      padding: 1.4rem;
      display: inline-block;
   }
}

@media (min-width:992px) {
   html {
      font-size: 100%;
   }
}

@media (min-width:768px) {
   html {
      font-size: 90%;
   }
   #specials .card{
      height: 22rem;
   }
   #specials .card-text-1{
      font-size: 1.1rem;
   }
   #specials .card-text-2{
      font-size: 1.4rem;
   }
   #specials .card-text-3{
      font-size: 1.5rem;
   }
}

@media (max-width: 300px) {
   html {
      font-size: 47%;
   }
}