*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.navbar{
   background: transparent;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
}
.navbar button{
   outline: none;
}
.navbar i{
   color: #ff0000;
   font-size: 30px;
}
.nav-link{
   color: #fff;
}
.navbar-brand img{
   width: 10rem;
}