@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

:root {
   --main-color: #dd0707;
   --text-color: #3b3b3b;
   --heading-color: #000000;
   --light-gray: #eeeeee;
   --white-color: #ffffff;
   --dark-gray: #282828;
   --dark-gray-2: #8c8c8c;
   --black-color: #000000;
   --poppin: 'Poppins', sans-serif;
   --pt: 'PT Sans', sans-serif;
   /*--box-shadow1: 0 5px 15px rgba(0, 0, 0, 0.3);
   --box-shadow2: 0px 10px 30px rgba(57, 56, 61, 0.205);*/
   --box-shadow3: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/*-----------------
Common design start
-----------------*/
h3,
h2,
p {
   margin: 0;
   padding: 0;
}

.button {
   padding: 1rem 2rem;
   margin: 2rem 0 2rem 0;
   color: var(--white-color);
   font-weight: 600;
   font-family: var(--pt);
   font-size: 2rem;
   border-radius: 6rem;
   outline: none;
   border: 0.3rem solid var(--main-color);
   background: transparent;
   animation: blink 1.5s linear infinite;
   transition: 0.5s;
}

.button .icon {
   width: 4rem;
   height: 4rem;
   display: inline-block;
   border-radius: 50%;
   background: var(--main-color);
   margin-left: 1rem;
   text-align: center;
   line-height: 4rem;
   transition: 0.5s;
}

.button:hover {
   background: var(--main-color);
   animation: none;
}

.button:hover .icon {
   background: var(--white-color);
   color: var(--black-color);
   box-shadow: var(--box-shadow3);
}

.thin-title {
   color: var(--main-color);
   font-size: 3rem;
   font-family: var(--poppin);
   font-weight: 400;
}

.bold-title {
   color: var(--black-color);
   font-size: 4rem;
   font-family: var(--poppin);
   font-weight: 600;
}

.section-text {
   font-size: 1.7rem;
   font-family: var(--pt);
   font-weight: 400;
   padding: 0 2rem 0 2rem;
   color: var(--black-color);
}

.section-padding {
   padding-top: 8rem;
   padding-bottom: 8rem;
}

/*---------------
Common design end
---------------*/

/*-------------
Animation start
-------------*/
@keyframes bar {
   0% {
      left: -100%;
   }

   100% {
      left: 100%;
   }
}

@keyframes blink {
   0% {
      border: 0.3rem solid transparent;
   }

   50% {
      border: 0.3rem solid var(--main-color);
   }

   100% {
      border: 0.3rem solid transparent;
   }
}

@keyframes ripple {
   100% {
      opacity: 0;
      transform: scale(2.5);
   }
}

@keyframes mouse {
   0% {
      margin-top: 0.7rem;
      opacity: 1;
   }

   100% {
      margin-top: 4rem;
      opacity: 0;
   }
}

@keyframes pulse {
   0% {
      transform: scale(.94);
      box-shadow: 0 0 0 0 rgba(221, 7, 7, 0.7)
   }

   70% {
      transform: scale(1);
      box-shadow: 0 0 0 2rem rgba(221, 7, 7, 0)
   }

   100% {
      transform: scale(.94);
      box-shadow: 0 0 0 0 rgba(221, 7, 7, 0)
   }
}

/*-----------
Animation end 
-----------*/

/*-----------------
Ripple effect start
-----------------*/
.prepare-ripple {
   overflow: hidden;
   position: relative;
}

.ripple {
   background: rgba(255, 255, 255, 0.5);
   border-radius: 100%;
   display: block;
   position: absolute;
   transform: scale(0);
}

.ripple.on-animate {
   animation: ripple .65s linear;
}

/*---------------
Ripple effect end
---------------*/

/*----------
Navbar start
----------*/
.navbar {
   background: var(--black-color);
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
}

.navbar .navbar-toggler {
   outline: none;
   border: none;
   font-size: 2rem;
}

.navbar button:focus {
   box-shadow: none !important;
}

.navbar i {
   color: var(--main-color);
   font-size: 3rem;
}

.nav-item {
   padding: 0.7rem;
   display: inline-block;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
}

.nav-link {
   font-size: 1.5rem;
   color: #fff !important;
   text-decoration: none;
}

.nav-link:hover {
   text-decoration: none;
}

.navbar-brand img {
   width: 18rem;
}

.navbar .img {
   width: 100%;
   background: var(--white-color);
   padding: 1.8rem 0 1.8rem 1.3rem;
}


/*--------
Navbar end
--------*/

/*--------
Home start
--------*/
#home {
   width: 100%;
   height: 90vh;
   background: url(../img/bg/bg-1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom center;
   display: grid;
   place-items: center;
   position: relative;
}

#home .mouse {
   width: 3rem;
   height: 5rem;
   border: 2px solid var(--main-color);
   border-radius: 10rem;
   position: absolute;
   bottom: 2rem;
   left: 50%;
   transform: translateX(-50%);
}

#home .mouse span {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   margin: 0 auto;
   background: var(--main-color);
   display: block;
   animation: mouse 1s linear infinite;
}

#home h3 {
   color: var(--white-color);
   font-size: 2.5rem;
   font-family: var(--poppin);
   font-weight: 400;
}

#home h2 {
   color: var(--white-color);
   font-family: var(--pt);
   font-size: 5rem;
   font-weight: 600;
}

#home .red-text {
   font-size: 5rem;
   color: var(--main-color);
   font-weight: 900;
   font-family: var(--poppin);
}

#home p {
   color: var(--white-color);
   font-family: var(--pt);
   font-size: 1.5rem;
   font-weight: 400;
   letter-spacing: 0.1rem;
}

#home .p2 {
   font-family: var(--poppin);
   font-size: 2.3rem;
}

#home .p2 .price {
   font-family: var(--poppin);
   font-weight: 900;
   display: inline-block;
   position: relative;
   overflow-x: hidden;
}

#home .p2 .price::after {
   left: 0;
   content: '';
   width: 100%;
   height: 0.3rem;
   background: var(--main-color);
   position: absolute;
   bottom: 0;
   animation: bar 2s linear infinite;
}

/*------
Home end 
------*/

/*---------
About start
---------*/
#about .button-box {
   display: flex;
   justify-content: center;
}

#about .button {
   color: var(--black-color);
}

#about .button .icon {
   color: var(--white-color);
}

#about .button:hover .icon {
   color: var(--black-color);
}

#about .button.play {
   width: 6rem;
   height: 6rem;
   border-radius: 50%;
   animation: pulse 1.3s linear infinite;
   background: var(--main-color);
   margin-left: 2rem;
   color: var(--white-color);
}

#about .button.play:hover {
   animation: none;
}
#about .container #compare{
   margin-top: 3rem;
}
/*-------
About end 
-------*/

/*------------
Features start
------------*/
#features{
   background: var(--light-gray);
}
#features img{
   width: 100%;
   margin-bottom: 2rem;
   transition: 0.4s;
   border-radius: 0.6rem;
}
#features img:hover{
   filter: brightness(130%);
   box-shadow: var(--box-shadow3);
}
#features .content{
   padding: 2rem;
}
#features input[type="radio"]{
   display: none;
}
#features label{
   padding: 1rem 2rem;
   outline: none;
   border: none;
   font-size: 1.4rem;
   margin-right: 1rem;
   border: 0.2rem solid var(--main-color);
   background: transparent;
   transition: 0.5s;
   font-family: var(--pt);
   font-weight: 600;
}
#features button:last-child{
   margin-right: 0;
}
#features input[type="radio"]:checked+label {
   background: var(--main-color);
   color: var(--white-color);;
}
/*----------
Features end 
----------*/